body{
    font-family: 'Roboto', sans-serif;
}

.crs {
    height: 400px;
    width: 100%;
}
.line_shadow {
    margin: 0px auto 0px auto;
    padding: 0;
    width: 50%;
    border: none;
    border-top: 1px solid #ffff;
}

.hrr {
    width:50%;
    margin: auto;
}

.blocks {
    margin-bottom: 8rem;
}


.circles {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.circles img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
}

/* .vl {
    border-left: 3px solid black;
    height: 20px;
    margin: auto;
} */